main {
  @apply flex flex-col items-center min-h-screen;

  section.about {
    @apply flex flex-col items-center justify-center h-screen w-full;

    @media (max-width: 768px) {
      @apply h-full pt-5 pb-10;
    }

    section.about-container {
      @apply flex flex-col justify-between w-2/4 p-10 h-min p-10 shadow-xl bg-white duration-700;

      &:hover {
        @apply shadow-2xl;
        transform: scale(1.025);
      }

      @media (max-width: 1024px) {
        @apply w-11/12;
      }

      div.hello {
        div.avatar-container {
          @apply flex items-center mb-5 flex-col sm:flex-row text-center sm:text-left;

          figure.avatar {
            @apply sm:mr-6 mb-6 sm:mb-0;
          }
        }
      }

      div.contact {
        @apply text-lg mt-10;

        a#email {
          @apply underline transition-all duration-700 hover:text-slate-600;
        }
      }
    }

    section.social-media-container {
      @apply flex mt-12;

      @media (max-width: 640px) {
        @apply flex-col;
      }

      a.social-media {
        @apply flex justify-center items-center text-lg mx-6 transition-all duration-500;

        &:hover {
          @apply underline cursor-pointer translate-x-1 text-stone-600;
        }

        @media (max-width: 640px) {
          @apply mx-0 my-3;
        }

        svg {
          @apply mr-2;
        }
      }
    }
  }

  section.info-container {
    @apply flex items-center justify-center bg-white w-full py-10;

    h2 {
      @apply mb-10 text-center;
    }
  }

  section.services section.services-container {
    div.services-content {
      @apply flex flex-wrap justify-center items-center;

      aside.services {
        @apply w-3/12;

        @media (max-width: 768px) {
          @apply w-10/12;
        }

        div.service {
          @apply mb-5;

          h3 {
            @apply text-stone-800;
          }

          p {
            @apply text-stone-500;
          }
        }
      }

      aside.skills {
        @apply flex flex-wrap justify-center float-left w-full max-w-sm ml-20;

        @media (max-width: 768px) {
          @apply ml-0;
        }

        div.skill {
          @apply flex items-center justify-center max-h-12 bg-stone-300 p-4 m-1.5 rounded-3xl font-bold text-sm duration-500;

          &:hover {
            @apply bg-stone-500 text-stone-200;
          }

          i {
            font-size: 28px;

            + p {
              @apply ml-3;
            }
          }
        }
      }
    }
  }

  section.certifications {
    @apply bg-transparent;

    section.certifications-container div.certifications-content {
      @apply flex flex-wrap justify-center items-center;

      a.certification {
        @apply flex flex-col items-center rounded-3xl p-6 transition-all duration-700;

        &:hover {
          @apply bg-slate-300;
        }

        b {
          @apply max-w-40 text-center mt-4;
        }
      }
    }
  }

  section.posts section.posts-container {
    @apply flex flex-col pb-10;

    ul.posts-list {
      @apply flex flex-wrap items-start justify-center w-3/4;

      align-self: center;

      li.post {
        @apply w-80 m-3 rounded-2xl transition-all duration-700;

        box-shadow: 1px 4px 8px #ccc;
        break-inside: avoid;
        position: relative;
        display: inline-block;
        align-self: flex-end;

        img {
          @apply rounded-t-2xl;
        }

        &:hover {
          @apply scale-105 -rotate-2;
          box-shadow: 6px 8px 16px #ccc;
        }

        div.post-content {
          @apply p-6;

          h4 {
            @apply mb-2;
          }

          footer {
            @apply flex mt-4;

            span {
              @apply flex items-center text-sm text-slate-800;

              svg {
                @apply mr-2;
              }

              &:not(:last-child) {
                @apply mr-3;
              }
            }
          }
        }
      }
    }
  }
}
