---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Felipe Heredia | Desenvolvedor Backend">
  <main class="flex justify-center min-h-screen px-32">
    <section class="hello">
      <span class="me">
        <div class="flex items-center mb-5">
          <figure class="avatar mr-6">
            <img
              src="https://avatars.githubusercontent.com/u/50281523?v=4"
              alt="Felipe Heredia image"
            />
          </figure>

          <aside>
            <h2 class="mb-2">Hello, I'm Felipe Heredia!</h2>
            <h4>Backend Developer<h4>
          </aside>
        </div>
        <p>
          Lorem ipsum dui condimentum quis fermentum viverra litora augue, pulvinar class
          ultricies lectus litora dictumst etiam dictumst, lorem pretium senectus morbi
          euismod nullam facilisis. sodales curabitur quisque interdum urna conubia
          euismod morbi vehicula pharetra cubilia blandit lacinia ad, pellentesque fames
          et dolor convallis et magna mollis aliquam in viverra sagittis.
        </p>
      </span>

      <span class="contact">
        <p>Contact me:</p>
        <a id="email" href="mailto:hello@felipeheredia.com">hello@felipeheredia.com</a>
      </span>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    background: rgb(248, 249, 250);
    background: linear-gradient(
      90deg,
      rgba(248, 249, 250, 1) 0%,
      rgba(233, 236, 239, 1) 52%,
      rgba(222, 226, 230, 1) 100%
    );

    section.hello {
      @apply flex flex-col justify-between w-2/4 p-10 h-min p-10 mt-10 shadow-2xl bg-white;

      span.contact {
        @apply text-lg mt-10;

        a#email {
          @apply underline transition-all duration-700 hover:text-slate-600;
        }
      }
    }
  }
</style>
