---
import BaseHead from "../components/BaseHead.astro";
import type { Lang } from "@/lib/utils";

interface Props {
  title: string;
  description: string
  lang: Lang
}

const { title, description, lang } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} lang={lang} />
  </head>

  <body>
    <slot />
  </body>
</html>
